@import 'menu-humburger';
@import 'jquery.mmenu.all';

#nav1 {
  /* 1000 */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  position: absolute;
  top: 25%;
  left: 50%;

  width: 60em;
  margin-left: -30em;
  /* 30 480 */
  > a {
    display: none;
  }
  li {
    position: relative;
    a {
      display: block;

      color: #fff;
      &:active {
        background-color: #000569 !important;
      }
    }
  }
  span:after {
    position: relative;
    right: -.313em;

    display: inline-block;

    width: 0;
    height: 0;

    content: '';
    vertical-align: middle;

    border: .313em solid transparent;
    border-top-color: #00569c;
    /* 5 */
    border-bottom: none;
    /* 5 */
  }
  > ul {
    height: 3.75em;
    /* 60 */

    background-color: #00569c;
    > li {
      float: left;

      width: 25%;
      height: 100%;
      > a {
        font-size: 1.5em;
        /* 24 */
        line-height: 2.5em;

        height: 100%;
        /* 60 (24) */

        text-align: center;
      }
      &:not(:last-child) > a {
        border-right: 1px solid #00569c;
      }
      &:hover > a {
        background-color: #00569c;
      }
    }
    &:not(:hover) > li.active > a {
      background-color: #00569c;
    }
  }
  li {
    ul {
      position: absolute;
      top: 100%;

      display: none;

      background-color: #00569c;
    }
    &:hover ul {
      right: 0;
      left: 0;

      display: block;
    }
    &:not(:first-child):hover ul {
      left: -1px;
    }
    ul {
      a {
        font-size: 1.25em;

        padding: .75em;
        /* 20 */

        border-top: 1px solid #00569c;
        /* 15 (20) */
      }
      li a:hover,
      &:not(:hover) li.active a {
        background-color: #00569c;
      }
    }
  }
}

/* first level */

/* second level */

@media only screen and (max-width: 162.5em) {
  #nav1 {
    position: static;

    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 60em) {
  html {
    font-size: 75%;
    /* 12 */
  }

  #nav1 {
    position: relative;
    top: auto;
    left: auto;
    > a {
      position: relative;

      width: 3.125em;
      /* 50 */
      height: 3.125em;
      /* 50 */

      text-align: left;
      text-indent: -9999px;

      background-color: #00569c;
      &:before {
        position: absolute;
        top: 35%;
        right: 25%;
        left: 25%;

        content: '';

        border: 2px solid #fff;
      }
      &:after {
        position: absolute;
        top: 35%;
        top: 60%;
        right: 25%;
        left: 25%;

        content: '';

        border: 2px solid #fff;
      }
    }
    &:not(:target) > a:first-of-type {
      display: block;
    }
    &:target {
      > a:last-of-type, > ul {
        display: block;
      }
    }
    > ul {
      position: absolute;
      right: 0;
      left: -200px;

      display: none;

      height: auto;
    }
    > ul > li {
      float: none;

      width: 100%;
      > a {
        height: auto;
        padding: 0 .833em;

        text-align: left;
        /* 20 (24) */
      }
      &:not(:last-child) > a {
        border-right: none;
        border-bottom: 1px solid #00569c;
      }
    }
    li ul {
      position: static;

      padding: 1.25em;
      /* 20 */
      padding-top: 0;
    }
  }

  /* first level */

  /* second level */
}

.blur-in {
  -webkit-animation: blur 2s forwards;
     -moz-animation: blur 2s forwards;
       -o-animation: blur 2s forwards;
          animation: blur 2s forwards;
}

.blur-out {
  -webkit-animation: blur-out 2s forwards;
     -moz-animation: blur-out 2s forwards;
       -o-animation: blur-out 2s forwards;
          animation: blur-out 2s forwards;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }
}

@-moz-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }
}

@-o-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }
}

@-webkit-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }
}

@-moz-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }
}

@-o-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
         -o-filter: blur(4px);
        -ms-filter: blur(4px);
            filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
         -o-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
  }
}

.cover {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.content {
  width: 650px;
  margin: 0 auto;
  padding-top: 100px;
}

span {
  /*  color: dimgray;*/
}

.pop-up {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;

  display: none;

  margin: 5% auto;
}

.box {
  position: relative;

  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
     -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
}

.button {
  margin: 0 auto;
  margin-bottom: 33px;

  background-color: #7ccf29;
  &:hover {
    background-color: #ef4b4b;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
  }
}

.close-button {
  position: absolute;
  left: 0;

  margin-top: -9px;
  margin-left: -10px;
  padding: 1.5px 7px;

  transition: all .5s ease;

  color: white;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #07a5e7;
  -webkit-box-shadow: -4px -2px 6px 0 rgba(0, 0, 0, .1);
     -moz-box-shadow: -4px -2px 6px 0 rgba(0, 0, 0, .1);
          box-shadow: -3px 1px 6px 0 rgba(0, 0, 0, .1);
  &:hover {
    color: #fff;
    background-color: tomato;
  }
}

h3 {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;

  color: #fff;
  background-color: #07a5e7;
}

.small-6 {
  width: 400px;
}
//KROSHKI

.navigation-tree-container {
  /* margin-top: 10px; */
  float: left;
  /* height: 5px; */

  width: 100%;
}

.B_crumbBox {
  margin: 0;
  padding: 0;

  color: #0b2241;
}

a {
  &:link,
  &:visited {
    text-decoration: none;

    color: #0b2241;
  }
}

.B_crumbBox > li {
  font-size: 10px;
  font-weight: 700 !important;

  position: relative !important;

  display: inline-block !important;
  float: none;

  margin: 0;
  padding: 0;
  &:last-child {
    font-weight: normal !important;
  }
}

a,
.hl-link {
  text-decoration: none !important;
}

.B_crumbBox > li a {
  line-height: 20px;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
  /* position: relative; */

  display: block;

  padding: 0;

  text-decoration: none;

  color: #555;
}

#fdw {
  float: left;

  margin-right: 10px;
  .top__nav {
    .headnav {
      display: block;

      width: 100%;
      > li {
        position: relative;

        display: inline;
        > a {
          color: #fff;
        }
        &:before {
          position: absolute;
          top: 3px;
          left: -10px;

          display: block;

          width: 2px;
          height: 12px;

          content: '';

          background: #fff;
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
select {
  width: 210px;
  height: 30px;
}




.reg-btn {
  font-size: 16px;

  width: 150px;
  height: 30px;

  color: #fafafa;
  border: 0;
  border-radius: 3px;
  background: #006da3;
}

#fdw nav .head-main-nav {
  li {
    &:last-child {
      ul {
        left: -150px;

        max-width: 280px;
      }
    }
  }
}


.left-links {
  height: 70px;
  padding-top: 5px;
}

.breadcrumbs {
  font-size: 10px;
  font-weight: 700;

  padding-top: 10px;

  color: #555;
  .delimiter {
    font-size: 16px;

    padding: 0 5px;
  }
  .current {
    color: #000;
  }
}


.gllety_hata {
  float: left;

  width: 860px;
}
.item_block {
  float: left;

  width: 270px;
  margin-right: 16px;
  margin-bottom: 10px;
  /* height: 170px;*/
  padding: 1px;

  box-shadow: 0 1px 1px 1px rgba(136,136,136,.30);
}
.item_block_title {
  width: 100%;
  padding: 5px;

  text-align: center;
}




#top-head-menu > ul > li > a {
  text-transform: uppercase;
}

.inputtext {
  width: 210px;
}
.size-balka {
  width: 110px;
}
.inputtext__small {
  width: 50px;
}

#head__main_menu ul.sub-menu > li > ul.sub-menu {
  display: none !important;
}

@media (min-width: 768px) {
  .front-content,
  #hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu_left {
    //display: none;
  }
}
